<form method="POST" action="{{action}}">
    <p>Title: <input type="text" name="title" value="{{task.title}}"></p>
    <p>Description: <input type="text" name="description" value="{{task.description}}"></p>
    <input type="submit" value="{{btnAction}} Task">
</form>
