<!DOCTYPE html>
<html>
    <head>
        <title>Task 1 details</title>
    </head>
    <body>
        <h1>Task Details</h1>
        <p>Task name: {{title}}</p>
        <p>Task description: {{description}}</p>
    </body>
</html>